.customize {
    width: 800px;
    height: 100vh;
    background-color: #1b212c;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.customize > h1 {
    text-align: center;

}

#customize_form {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 500px;
    align-items: center;
}


.add_to_cart {
    position: absolute;
    bottom: 90px;
    background-color: #0a0d13;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin: auto;
    transition: all ease-in-out 0.5s;
    outline: none;
    border: none;
    font-size: 16px;
}

.add_to_cart:hover {
    transform: scale(1.05);
}