* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
}

#root {
    position: absolute;
    top: 0;
}

main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #000;
    background: linear-gradient(-45deg, rgb(28, 38, 85) 0%, rgb(17, 19, 30) 100%);
    z-index: -100;
}

a {
    text-decoration: none;
}

